In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('startup_funding.csv')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [3]:
amount = data['AmountInUSD']
amount.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [4]:
# Remove NAN
amount.dropna(inplace=True)
amount.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [7]:
# remove , from values
a1 = amount.str.replace(',', '')

# convert into int
population = pd.to_numeric(a1)

population.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: int64

### For complete data (population)

In [8]:
pop_avg = population.mean()
pop_min = population.min()
pop_max = population.max()

### Collect Sample using simple random sampling without replacement

In [17]:
sample_size = 100
sample = population.sample(sample_size, random_state=1)
print(sample)

142      4000000
1931    16200000
309       325000
985     25000000
439        18000
          ...
1347     3000000
1810    30000000
1721      150000
1913    30000000
777      1500000
Name: AmountInUSD, Length: 100, dtype: int64

### For sample data

In [18]:
sample_avg = sample.mean()
sample_min = sample.min()
sample_max = sample.max()

### Print values

In [19]:
print(pop_avg, " ", sample_avg)
print(pop_min, " ", sample_min)
print(pop_max, " ", sample_max)

12031073.099016393   24592930.0
16000   18000
1400000000   1400000000

### We want to find out the average amount of funding given to startups which are in either Bangalore or in New Delhi.
### For this - rather than considering all the startups, take a sample of size 50 (without replacement). Then find the average amount of funding from this sample and calculate the Sampling Error.
### Sampling Error = Average(Population) - Average(Sample)

In [14]:
data = pd.read_csv('startup_funding.csv')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [21]:
data['CityLocation'].replace("Delhi", "New Delhi", inplace = True)
data['CityLocation'].replace("bangalore", "Bangalore", inplace = True)

df = data[(data['CityLocation']=='Bangalore') | (data['CityLocation']=='New Delhi')].copy()

df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
5,5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
8,8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,"8,500,000",NaN
11,11,06/07/2017,Minjar,Technology,Cloud Solutions provider,Bangalore,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding,NaN,NaN

In [22]:
amount = df['AmountInUSD']
amount.dropna(inplace = True)
a1 = amount.str.replace(',','').copy()
population = pd.to_numeric(a1)

# population average
pop_avg = population.mean()

# get sample
sample_size = 50
sample = population.sample(sample_size)
sample_avg = sample.mean()

print(pop_avg, " ", sample_avg)

# Sampling error
sampling_error = pop_avg - sample_avg
print(sampling_error)

18017834.317152105   16418140.0
1599694.3171521053

### We want to find out the average amount of funding given to startups which are in either Bangalore or in New Delhi.
### For this - rather than considering all the startups, take a sample of size 75 (with replacement). Then find the average amount of funding from this sample and calculate the Sampling Error.

In [38]:
amount = df['AmountInUSD']
amount.dropna(inplace = True)
a1 = amount.str.replace(',','').copy()
population = pd.to_numeric(a1)

# population average
pop_avg = population.mean()

# get sample
sample_size = 50
sample = population.sample(sample_size, replace=True) # replace=True for replacement
sample_avg = sample.mean()

print(pop_avg, " ", sample_avg)

# Sampling error
sampling_error = pop_avg - sample_avg
print(sampling_error)

18045415.896272287   5347500.0
12697915.896272287

### Stratified Sampling
#### We want to find out the maximum amount of funding given to any startup in following regions -
#### Bangalore 
#### NCR (which includes New Delhi, Gurgaon and Noida)
#### Mumbai 
#### Pune 
#### Hydreabad 
#### So create your population data first by extracting those startups which are in given cities.
#### Then rather than using SRS for extracting sample, create 5 different stratas based on 5 regions and then apply stratified sampling on these 5 stratas to extract a sample of size 100 startups (taking 20 values from each strata)
#### Find and print Sampling error.
#### Note: Take city name "Delhi" as "New Delhi".
#### Check the case-sensitiveness of cities also. That means - at some place, instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore"

In [47]:
data = pd.read_csv('startup_funding.csv')
data['CityLocation'].replace("Delhi", "New Delhi", inplace = True)
data['CityLocation'].replace("bangalore", "Bangalore", inplace = True)

df = data[(data['CityLocation']=='Bangalore') | (data['CityLocation']=='New Delhi') | (data['CityLocation']=='Gurgaon') | 
         (data['CityLocation']=='Noida') | (data['CityLocation']=='Mumbai') | (data['CityLocation']=='Pune') | 
         (data['CityLocation']=='Hyderabad')].copy()

df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

### Population maximum

In [48]:
pop_amt = df['AmountInUSD']
pop_amt.dropna(inplace=True)
pop_amt = pop_amt.str.replace(',', '')
pop_amt = pd.to_numeric(pop_amt)

pop_max = pop_amt.max()
print(pop_max)

1400000000

In [49]:
strata_ncr = df[(df['CityLocation']=='New Delhi') | (df['CityLocation']=='Gurgaon') | (df['CityLocation']=='Noida')].copy()
strata_bangalore = df[df['CityLocation']=='Bangalore'].copy()
strata_mumbai = df[df['CityLocation']=='Mumbai'].copy()
strata_pune = df[df['CityLocation']=='Pune'].copy()
strata_hyderabad = df[df['CityLocation']=='Hyderabad'].copy()

stratas = [strata_ncr, strata_bangalore, strata_mumbai, strata_pune, strata_hyderabad]

In [61]:
strata_populations = []
for strata in stratas:
    amt = strata['AmountInUSD']
    amt.dropna(inplace=True)
    amt = amt.str.replace(',','')
    population = pd.to_numeric(amt)
    strata_populations.append(population)

    
samples = [] # contains 5 samples 
for strata_pop in strata_populations:
    # we have to randomly take 20 samples from each strata_population
    sample_size = 20
    strata_pop_sample = strata_pop.sample(sample_size, random_state=1)
    samples.append(strata_pop_sample)

# Concat all Series and find maximun
sample = pd.concat(samples)

sample_max = sample.max()

### Sampling error

In [63]:
print(pop_max, " ", sample_max)

print("Sampling error is ", pop_max-sample_max)

1400000000   180000000
Sampling error is  1220000000

## Proportional Stratified Sampling

### same as stratified sampling . The only difference is that here data points taken from each strata is different
### and is calculated as (No_of_values_ith Strata / population_size ) * Sample_Size