In [23]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

### The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
### Print count of number of attacks in that city as integer value.
### Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.

In [33]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')
df = df[(df['State']=='Jammu and Kashmir')]
df2 = df.groupby('City')
attacks = 0
for grp,grp_df in df2:
    if len(grp_df) > attacks:
        attacks = len(grp_df)
        city = grp
    
df_city = df2.get_group(city) # Get dataframe corresponding to required city
df_grp_city = df_city.groupby('Group')

# Now find the most frequent grp in city
num_attacks=0
for grp,grp_df in df_grp_city:
    if grp!='Unknown' and len(grp_df) > num_attacks:
        num_attacks = len(df_grp_city)
        dangerous_grp = grp
print(city, attacks, dangerous_grp)

Srinagar 657 Muslim Separatists

## 2nd Way of above question

In [34]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')
df = df[(df['State']=='Jammu and Kashmir')]
city_list = df['City'].value_counts()

city = city_list.index[0] #Srinagar
num_attacks = city_list.values[0] # 657

df_terrorism = df[df['City']==city]
# Now we find the most active group in city
group = df_terrorism['Group'].value_counts().index[1] # not index[0] bcz index[0] is unknowm which we have to ignore
print(city, num_attacks,group)

Srinagar 657 Muslim Separatists

## Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?
## Print count of terror attacks as integer value.

In [35]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')

df_country = df.groupby('Country')
num_attacks = 0

# Find country with highest terrorist attacks
for coun,coun_df in df_country:
    if (len(coun_df)>num_attacks):
        num_attacks = len(coun_df)
        country = coun

df_req_coun = df_country.get_group(country) # Get dataframe corresponding to required country
df_year = df_req_coun.groupby('Year')

# Find year in which most attacks happened in that country
num_yr_attacks = 0
for yr,df_yr in df_year:
    if len(df_yr)>num_yr_attacks:
        num_yr_attacks = len(df_yr)
        year = yr

print(country, num_attacks, year)

Iraq 24636 2014

## 2nd Way of above question

In [39]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')

country_attack = df['Country'].value_counts()
country = country_attack.index[0]
attacks = country_attack.values[0]

# Now Find year in which most attacks happened in that country
df_year = df[df['Country']==country]
year = df_year['Year'].value_counts().index[0]

print(country, attacks, year)

Iraq 24636 2014

## Most Deadliest attack in a history of HumanKind?
## Print count of Killed people as integer value.
## Note: Here Deadliest attack means, in which the most number of people killed.

In [56]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')

df.Killed.fillna('0.0', inplace=True)

# add new column kills with integer values bcz we want to sort values
def convert(s):
    return int(float(s))
df['kills'] = df.Killed.apply(convert)

# sort according to kills
df.sort_values('kills', ascending=False, inplace=True)
row1 = df.iloc[0] # 1st row
print(row1['kills'], row1['Country'], row1['Group'])

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

## There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-

### 1. Total number of attacks done in this period in India. Find this count as integer.
### 2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 
### 3.Ignore the Unknown group.

In [86]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')
df.head()

# Add integer valued columns of month, year, and day and remove presvious ones
df['month'] = df.Month.apply(int)
df['year'] = df.Year.apply(int)
df['day'] = df.Day.apply(int)

del df['Month']
del df['Year']
del df['Day']

bool_series = (df['year']>2014) | ( (df['year']==2014) & (df['month']>5) ) | ( (df['year']==2014) & (df['month']==5) & (df['day']>=26))
df_req = df[(bool_series) & (df['Country']=='India')]
num_attacks = df_req.shape[0]

#find grp which is most active in this period
grp = df_req['Group'].value_counts().index[1] # not index[0]  bcz that value is Unknown which we have to ignore

print(num_attacks, grp)

3336 Maoists

## Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of a year)
## Print frequency as integer value.
## Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.

In [15]:
import pandas as pd
df = pd.read_csv('C:/PYTHON/DataScience_Ninza/DataScience-and-ML/Datasets/terrorismData.csv')

total_yr = len(set(df['Year']))

df=df[df['Country']=='India']
df1=df[df['State']=='Jammu and Kashmir']
df2=df[(df['State']=='Jharkhand')|(df['State']=='Odisha')|(df['State']=='Andhra Pradesh')|(df['State']=='Chhattisgarh')]
df1['casualty']=df1['Killed']+df1['Wounded']
df2['casualty']=df2['Killed']+df2['Wounded']


f1=int(df1.casualty.sum()//total_yr)
f2=int(df2.casualty.sum()//total_yr)
print(f2,f1)

115 261

c:\users\mehak\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
c:\users\mehak\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.